*{
    margin: 0;
    padding: 0;
}
body {
	background-color:#535d7f;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* navbar styling */
#nav{
  position: sticky;
  margin: 0;
  top: 0;

}
.navbar {
    background-color: #858ba1;
    margin-top: 0;
    display: block;
    height: 70px;
    animation: pulse 3s infinite;
}

.navbar ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: rgb(98, 151, 249);
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li a:hover {
    color: rgb(190, 190, 235);
    background-color: rgb(26, 34, 46);
}

.navbar ul li a.active {
    background-color: #8fae94;
    color: rgb(10, 10, 170);
}

.navbar-icon {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    float: right;
}
/* asic details styling */
#basic-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.details-container {
    display: flex;
    width: 60%;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.details-container img {
  margin-right: 20px;
  max-width: 250px;
	border-radius: 50%;
	order: 2;
}

.details-text {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.details-text p {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}


.details-text p strong {
  margin-top: 1.3rem;
	width: 150px;
	display: inline-block;
	white-space: nowrap;
  }
.about-me {
  width: 60%;
  margin: 0 auto;
}
  .briefBio {
    text-align: center;
  }

#basic-details, #bio, #education,#skills{
  background-color: rgb(231, 240, 240);
	margin: 20px;
	padding: 20px;
	border: 1px solid #ada9a9;
	border-radius: 5px;
}

  .justify {
		text-align: justify;
    line-height: 1.6em;
	}

  /* education section style */
  .edu-container {
    display: flex;
    justify-content: space-between;
  }
#basic-details h2, #bio h2, #education h2 {
	margin-top: 0;
}

.edu-title {
  text-align: center;
}
.edu-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.edu-left , .edu-right{
  width: 80%;
  margin: 0 auto;
}
#education h3 {
	margin-top: 20px;
}
.section__title {
  text-align: center;
}
.skills__titles {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .skills__list {
    margin: 0 auto;
    width: 60%;
  }
  .skills__number {
	margin-left: 10px;
  }
  
  .skills__bar {
	width: 100%;
	height: 8px;
	border-radius: 10px;
	background-color: #e0e0e0;
	margin-top: 5px;
	position: relative;
  }
  
  .skills__percentage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 10px;
	background-color: #90a1a4;
  }
  .skills__c {
	width: 70%;
  }
  
  .skills__java {
	width: 75%;
  }
  
  .skills__html {
	width: 90%;
  }
  
  .skills__css {
	width: 80%;
  }
  
  .skills__js {
	width: 60%;
  }
  
  .skills__react {
	width: 50%;
  }
  
  .skills__bootstrap {
	width: 80%;
  }
  
  .skills__php {
	width: 60%;
  }
  
  .skills__number {
	margin-left: 10px;
	display: inline-block;
  }
  
h2 {
    margin-top: 0;
    font-size: 1.5em;
    color:#4169E1;
}
h3{
  color: #77cbd1;
}
.dark-mode {
	background-color: black;
	color: white;
  }

		footer {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}

		footer p {
			margin: 0;
		}



    /* making a responsive */

    @media screen and (max-width: 600px) {
      .navbar ul li a:not(:first-child) {
          display: none;
      }
      .navbar.responsive ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 70px;
          left: 0;
          right: 0;
          background-color: #535d7f;
      }
      .navbar.responsive ul li {
          display: block;
          margin: 0;
          padding: 0;
      }
      .navbar.responsive ul li a {
          display: block;
          padding: 10px;
          margin: 0;
          color: #fff;
      }
      .navbar.responsive {
          position: relative;
      }
      .navbar-icon {
          display: block;
      }
 .details-container {
  width: 100%;
 }
  }